{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h2>Signup</h2>
<div class="row">
    <form method="POST" action="/signup" class="col s12">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="input-field col s12">
                {{ form.user_name.label }}

                {% if form.user_name.errors %} 
                    {% for error in form.user_name.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                {{ form.user_name }}
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                {{ form.password.label }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.password }}
            </div>
            <div class="input-field col s6">
                {{ form.vpassword.label }}

                {% if form.vpassword.errors %}
                    {% for error in form.vpassword.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                {{ form.vpassword }}
                
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                {{ form.email.label }}
                {% if form.email.errors %}
                    {% for error in form.email.errors %}
                        <p class="error-message">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.email }}
            </div>
        </div>
           
        <button {{ form.submit(class="btn waves-effect waves-light") }} Submit
            <i class="material-icons right">send</i>
        </button>


    </form>
</div>
</div>


{% endblock %}